.nav__box {
  background-color: gray;
  color: $white;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  margin: 0;
  display: flex;
  gap: 15px;
  padding: 5px 20px;
  list-style: none;
}

.nav__item {
  padding: 2px;
}

.nav__enter {
  color: $white;
  padding-right:10px;
  margin-left: auto;
  border-left:1px solid $white;
  padding-left: 15px;
}

.nav__basket {
  color: $white
}
