@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Ruberoid";

  font-display: swap;
  src: url("../fonts/Ruberoid-Regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Ruberoid";

  font-display: swap;
  src: url("../fonts/Ruberoid-Bold.woff2") format("woff2");
}
